<a href="https://colab.research.google.com/github/ellenwang995/week2_pandas/blob/main/Session_2_Student_Worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ðŸ“Š Session 2 â€” Student Worksheet (Pandas + Plotly)
Work in small groups. Find a CSV dataset on GitHub, load it in Colab, and adapt commands from the workbook.
Be ready to walk through your code at the end.

## Part 1 â€” Find a Dataset (GitHub)

In [98]:
csv_url = "https://raw.githubusercontent.com/owid/energy-data/refs/heads/master/owid-energy-data.csv"
csv_url

'https://raw.githubusercontent.com/owid/energy-data/refs/heads/master/owid-energy-data.csv'

## Part 2 â€” Load & Inspect

In [99]:
import pandas as pd

# Corrected URL to the raw CSV data
csv_url = "https://raw.githubusercontent.com/owid/energy-data/e93768587041dbaa2f0ea0b66af616b48c7e7364/owid-energy-data.csv"

energy = pd.read_csv(csv_url)
rows, cols = energy.shape
rows, cols

(23195, 130)

In [100]:
energy_1 = pd.DataFrame(energy)
energy_1

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
1,ASEAN (Ember),2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
2,ASEAN (Ember),2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
3,ASEAN (Ember),2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
4,ASEAN (Ember),2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,Zimbabwe,2020,ZWE,15526837.0,2.317871e+10,NaN,0.0,0.0,0.0,6.440,...,0.298,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23191,Zimbabwe,2021,ZWE,15797165.0,2.514009e+10,NaN,0.0,0.0,0.0,6.963,...,0.233,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23192,Zimbabwe,2022,ZWE,16069010.0,2.590159e+10,NaN,0.0,0.0,0.0,6.845,...,0.336,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23193,Zimbabwe,2023,ZWE,16340778.0,NaN,NaN,0.0,0.0,0.0,7.344,...,0.361,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,NaN
23194,Zimbabwe,2024,ZWE,16634317.0,NaN,NaN,0.0,0.0,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
energy_df = energy_1.fillna(0)

In [102]:
energy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23195 entries, 0 to 23194
Columns: 130 entries, country to wind_share_energy
dtypes: float64(127), int64(1), object(2)
memory usage: 23.0+ MB

In [103]:
energy_df.dtypes

country                    object
year                        int64
iso_code                   object
population                float64
gdp                       float64
                           ...
wind_elec_per_capita      float64
wind_electricity          float64
wind_energy_per_capita    float64
wind_share_elec           float64
wind_share_energy         float64
Length: 130, dtype: object

In [104]:
energy_df.head(10)

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
0,ASEAN (Ember),2000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.000,0.0
1,ASEAN (Ember),2001,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.000,0.0
2,ASEAN (Ember),2002,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.000,0.0
3,ASEAN (Ember),2003,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.000,0.0
4,ASEAN (Ember),2004,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.00,0.0,0.000,0.0
5,ASEAN (Ember),2005,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000,0.0,0.0,0.0,0.0,0.0,0.02,0.0,0.004,0.0
6,ASEAN (Ember),2006,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.007,0.0,0.0,0.0,0.0,0.0,0.05,0.0,0.009,0.0
7,ASEAN (Ember),2007,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.007,0.0,0.0,0.0,0.0,0.0,0.06,0.0,0.010,0.0
8,ASEAN (Ember),2008,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.007,0.0,0.0,0.0,0.0,0.0,0.06,0.0,0.010,0.0
9,ASEAN (Ember),2009,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.006,0.0,0.0,0.0,0.0,0.0,0.07,0.0,0.011,0.0

In [105]:
energy_df.sample(50)

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,solar_share_elec,solar_share_energy,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy
4671,Colombia,1999,COL,3.845482e+07,3.215831e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8939,Guinea-Bissau,1987,GNB,9.268260e+05,1.098046e+09,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
12405,Middle Africa (EI),1988,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
9168,High-income countries,1988,0,1.171486e+09,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,69.713,0.378,0.921,0.283,0.332,0.786,0.004,0.001
12223,Mexico,1910,MEX,1.450303e+07,3.360000e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
13312,Namibia,2017,NAM,2.506814e+06,2.224998e+10,0.000,0.000,0.000,0.000,0.000,...,6.215,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20690,Trinidad and Tobago,1987,TTO,1.217320e+06,1.828803e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3473,Burundi,1942,BDI,1.954132e+06,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
21938,United States Virgin Islands,2023,VIR,8.566600e+04,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,2.985,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
9001,Guyana,1990,GUY,7.498350e+05,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2183,Bangladesh,1987,BGD,1.049592e+08,9.966304e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
11885,Malaysia,1962,MYS,8.380129e+06,2.323676e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
10910,Laos,1996,LAO,5.045638e+06,9.400685e+09,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2966,Botswana,2022,BWA,2.439843e+06,3.929397e+10,0.000,0.000,0.000,0.000,0.000,...,0.391,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1164,Armenia,2005,ARM,3.006305e+06,2.362654e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
5203,Cuba,1989,CUB,1.053320e+07,5.235060e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20417,Thailand,1927,THA,1.171755e+07,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
11991,Maldives,2023,MDV,5.259550e+05,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,7.059,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8529,Greenland,1921,GRL,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
21135,U.S. Pacific Islands (EIA),2009,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3766,Cameroon,2006,CMR,1.755036e+07,4.254466e+10,0.000,0.000,0.000,0.000,36.466,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
22488,Wake Island (Shift),1981,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
19908,Switzerland,1950,CHE,4.692590e+06,5.417363e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
15707,Oman,1948,OMN,4.501700e+05,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
9017,Guyana,2006,GUY,7.589240e+05,0.000000e+00,0.000,0.000,0.000,0.000,13.177,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
19881,Switzerland,1923,CHE,3.920181e+06,2.978353e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20295,Tanzania,1929,TZA,5.440020e+06,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3002,Brazil,1934,BRA,3.667034e+07,5.355028e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
14618,North America (Shift),1921,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
19283,South Korea,2017,KOR,5.148622e+07,1.915600e+12,7.839,0.477,127.400,6.559,186.652,...,1.343,0.558,28.867,1.194,5.423,42.147,2.170,105.325,0.376,0.156
14427,North America,1940,0,1.828230e+08,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2120,Bangladesh,1924,BGD,2.908409e+07,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8120,Germany,1930,DEU,6.724605e+07,4.121770e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2611,Bermuda,1993,BMU,5.877800e+04,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
775,American Samoa,1986,ASM,4.054400e+04,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
23146,Zimbabwe,1976,ZWE,6.287053e+06,1.405175e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20963,Turkey,2010,TUR,7.334672e+07,1.240497e+12,-6.902,-0.005,0.981,0.072,4.499,...,0.000,0.001,95.031,3.670,7.595,39.811,2.920,103.547,1.383,0.610
8953,Guinea-Bissau,2001,GNB,1.261231e+06,1.520991e+09,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
515,Africa (Shift),2012,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
8616,Greenland,2008,GRL,5.664400e+04,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2187,Bangladesh,1991,BGD,1.137871e+08,1.173316e+11,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
16410,Other Northern Africa (EI),2015,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.127,0.062,-11.637,-0.156,1.134,0.000,0.448,0.000,0.783,0.381
2931,Botswana,1987,BWA,1.199135e+06,4.148395e+09,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
16256,Other Middle Africa (EI),2016,0,0.000000e+00,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20901,Turkey,1948,TUR,2.012659e+07,4.228729e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
11871,Malaysia,1948,MYS,5.738373e+06,1.118666e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
16726,Pakistan,1966,PAK,5.367862e+07,7.640578e+10,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
7473,Falkland Islands,2020,FLK,3.495000e+03,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
20562,Tonga,1983,TON,9.797100e+04,0.000000e+00,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
21512,United Arab Emirates,1966,ARE,1.739450e+05,6.609458e+09,0.000,0.000,0.000,0.000,0.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [106]:
print(energy_df.columns)

Index(['country', 'year', 'iso_code', 'population', 'gdp',
       'biofuel_cons_change_pct', 'biofuel_cons_change_twh',
       'biofuel_cons_per_capita', 'biofuel_consumption',
       'biofuel_elec_per_capita',
       ...
       'solar_share_elec', 'solar_share_energy', 'wind_cons_change_pct',
       'wind_cons_change_twh', 'wind_consumption', 'wind_elec_per_capita',
       'wind_electricity', 'wind_energy_per_capita', 'wind_share_elec',
       'wind_share_energy'],
      dtype='object', length=130)

## Part 3 â€” Explore & Clean

In [107]:
energy_df[energy_df.duplicated(keep=False)]

Empty DataFrame
Columns: [country, year, iso_code, population, gdp, biofuel_cons_change_pct, biofuel_cons_change_twh, biofuel_cons_per_capita, biofuel_consumption, biofuel_elec_per_capita, biofuel_electricity, biofuel_share_elec, biofuel_share_energy, carbon_intensity_elec, coal_cons_change_pct, coal_cons_change_twh, coal_cons_per_capita, coal_consumption, coal_elec_per_capita, coal_electricity, coal_prod_change_pct, coal_prod_change_twh, coal_prod_per_capita, coal_production, coal_share_elec, coal_share_energy, electricity_demand, electricity_demand_per_capita, electricity_generation, electricity_share_energy, energy_cons_change_pct, energy_cons_change_twh, energy_per_capita, energy_per_gdp, fossil_cons_change_pct, fossil_cons_change_twh, fossil_elec_per_capita, fossil_electricity, fossil_energy_per_capita, fossil_fuel_consumption, fossil_share_elec, fossil_share_energy, gas_cons_change_pct, gas_cons_change_twh, gas_consumption, gas_elec_per_capita, gas_electricity, gas_energy_per_capita, gas_prod_change_pct, gas_prod_change_twh, gas_prod_per_capita, gas_production, gas_share_elec, gas_share_energy, greenhouse_gas_emissions, hydro_cons_change_pct, hydro_cons_change_twh, hydro_consumption, hydro_elec_per_capita, hydro_electricity, hydro_energy_per_capita, hydro_share_elec, hydro_share_energy, low_carbon_cons_change_pct, low_carbon_cons_change_twh, low_carbon_consumption, low_carbon_elec_per_capita, low_carbon_electricity, low_carbon_energy_per_capita, low_carbon_share_elec, low_carbon_share_energy, net_elec_imports, net_elec_imports_share_demand, nuclear_cons_change_pct, nuclear_cons_change_twh, nuclear_consumption, nuclear_elec_per_capita, nuclear_electricity, nuclear_energy_per_capita, nuclear_share_elec, nuclear_share_energy, oil_cons_change_pct, oil_cons_change_twh, oil_consumption, oil_elec_per_capita, oil_electricity, oil_energy_per_capita, oil_prod_change_pct, oil_prod_change_twh, oil_prod_per_capita, oil_production, oil_share_elec, oil_share_energy, other_renewable_consumption, other_renewable_electricity, other_renewable_exc_biofuel_electricity, other_renewables_cons_change_pct, other_renewables_cons_change_twh, other_renewables_elec_per_capita, other_renewables_elec_per_capita_exc_biofuel, ...]
Index: []

[0 rows x 130 columns]

In [108]:
energy_df['year_dt'] = pd.to_datetime(energy_df['year'], format='%Y')
energy_df['year_dt']

0       2000-01-01
1       2001-01-01
2       2002-01-01
3       2003-01-01
4       2004-01-01
           ...
23190   2020-01-01
23191   2021-01-01
23192   2022-01-01
23193   2023-01-01
23194   2024-01-01
Name: year_dt, Length: 23195, dtype: datetime64[ns]

In [109]:
energy_df["biofuel_consumption"]

0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
        ...
23190    0.0
23191    0.0
23192    0.0
23193    0.0
23194    0.0
Name: biofuel_consumption, Length: 23195, dtype: float64

In [110]:
energy_df_yr = energy_df[energy_df['year'] >=1995]

In [115]:
energy_df_yr

,country,year,iso_code,population,gdp,biofuel_cons_change_pct,biofuel_cons_change_twh,biofuel_cons_per_capita,biofuel_consumption,biofuel_elec_per_capita,...,wind_cons_change_pct,wind_cons_change_twh,wind_consumption,wind_elec_per_capita,wind_electricity,wind_energy_per_capita,wind_share_elec,wind_share_energy,year_dt,totl_re_con
0,ASEAN (Ember),2000,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2000-01-01,0.0
1,ASEAN (Ember),2001,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2001-01-01,0.0
2,ASEAN (Ember),2002,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2002-01-01,0.0
3,ASEAN (Ember),2003,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2003-01-01,0.0
4,ASEAN (Ember),2004,0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2004-01-01,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23190,Zimbabwe,2020,ZWE,15526837.0,2.317871e+10,0.0,0.0,0.0,0.0,6.440,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2020-01-01,0.0
23191,Zimbabwe,2021,ZWE,15797165.0,2.514009e+10,0.0,0.0,0.0,0.0,6.963,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2021-01-01,0.0
23192,Zimbabwe,2022,ZWE,16069010.0,2.590159e+10,0.0,0.0,0.0,0.0,6.845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2022-01-01,0.0
23193,Zimbabwe,2023,ZWE,16340778.0,0.000000e+00,0.0,0.0,0.0,0.0,7.344,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2023-01-01,0.0
23194,Zimbabwe,2024,ZWE,16634317.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2024-01-01,0.0

## Part 4 â€” Summarization

In [111]:
energy_df_yr['totl_re_con'] = energy_df_yr['hydro_consumption'] + energy_df_yr['wind_consumption'] + energy_df_yr['solar_consumption']+ energy_df_yr['other_renewable_consumption']

/tmp/ipython-input-1243965412.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  energy_df_yr['totl_re_con'] = energy_df_yr['hydro_consumption'] + energy_df_yr['wind_consumption'] + energy_df_yr['solar_consumption']+ energy_df_yr['other_renewable_consumption']

In [124]:
#create new df with only gernmany france sweden india south africa
energy_df_yr.loc[energy_df_yr['country'] == 'South Africa', 'totl_re_con']

19011     1.469
19012     3.852
19013     6.267
19014     5.153
19015     2.633
19016     4.576
19017     6.106
19018     7.182
19019     3.585
19020     3.842
19021     4.987
19022     9.097
19023     9.051
19024     4.861
19025     5.353
19026     4.375
19027     9.529
19028     4.263
19029     5.032
19030    11.153
19031    17.571
19032    21.405
19033    31.299
19034    31.413
19035    31.730
19036    34.801
19037    44.272
19038    47.814
19039    50.247
19040    47.324
Name: totl_re_con, dtype: float64

In [ ]:
category_col = energy_Germany_yr
numeric_col = energy_Germany_yr['totl_re_con']

by_cat = df.groupby(category_col)[numeric_col].sum().sort_values(ascending=False)
by_cat.head(10)

## Part 5 â€” Visualization (Pandas + Plotly)

In [ ]:
import plotly.express as px

bar_df = by_cat.head(10).reset_index()
fig = px.bar(bar_df, x=category_col, y=numeric_col, title=f'Top 10 {category_col} (interactive)')
fig.show()

## Part 6 â€” Reflection
- What needed adjusting when you switched datasets?
- What was easier/harder vs the workbook?
- What context/limitations should a policymaker know?

## Part 7 â€” âš¡ Lightning Chart Demos â€” Teach-Out Instructions

### What is a Lightning Demo?
A **rapid-fire mini-presentation**: 2 minutes per group. Show **one chart** + **one insight**, not your whole notebook.

### Demo Format (2 minutes)
1. **Context (15 sec):** Dataset name + 1-sentence purpose.  
2. **Chart + Insight (75â€“90 sec):** Show interactive Plotly chart; state one clear finding; name one wrangling step.  
3. **Caveat or Next Step (15â€“30 sec):** One limitation OR next idea.  
4. **Pass the mic (10 sec):** End with *â€œAny questions about our chart?â€*

### Unique Angles
- Aggregation choice (sum vs mean, raw vs normalized).  
- Data cleaning step (conversion, deduping).  
- Encoding (bar vs line vs scatter).  
- Interactivity (facet, hover, filter).  
- Comparability (per capita vs raw counts).  
- Temporal nuance (trend vs snapshot).  

ðŸ‘‰ If another group showed your angle, pick a different one.

### Flow for the Day
- Groups present **clustered by chart type** (bars, lines, scatter, other).  
- Instructor summarizes similarities/differences after each cluster.  
- 15 groups Ã— 2 min = ~30 minutes + transitions = ~40 minutes.

### Presenter Checklist
- [ ] Dataset URL loads in Colab  
- [ ] Columns chosen make sense  
- [ ] One **interactive Plotly figure** with title + labels  
- [ ] Insight stated in one sentence  
- [ ] One cleaning step mentioned  

### Audience Task
After each cluster, jot 1 sentence:  
- What was **similar** across charts?  
- What was **different** (aggregation, encoding, interactivity)?  
- Which chart best supported a **policy decision**â€”and why?

---
### Quick Rubric (3 pts)
- **Clarity of claim (1 pt)**  
- **Method fit (1 pt)**  
- **Insight/caveat (1 pt)**  
(Bonus +0.5 for meaningful interactivity)

---
### Minimal Code Patterns

**Top-N bar:**
```python
bar_df = df.groupby(category_col)[numeric_col].sum().nlargest(10).reset_index()
fig = px.bar(bar_df, x=category_col, y=numeric_col,
             title=f"Top 10 {category_col} by {numeric_col}")
fig.show()
```

**Time series:**
```python
ts = (df.groupby(time_col)[numeric_col]
        .sum()
        .reset_index()
        .sort_values(time_col))
fig = px.line(ts, x=time_col, y=numeric_col, markers=True,
              title=f"{numeric_col} over time")
fig.show()
```

**Scatter:**
```python
fig = px.scatter(df, x=x_col, y=y_col, trendline="ols",
                 title=f"{y_col} vs {x_col}")
fig.show()
```

---